@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: "VT323";
}

body{
    background: #1d1d1d;
    color: #fafafa;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}